body{
    background:url(/static/img/background-rainy.jpg) 
    fixed center;
    background-size: cover;
}
.container{
    background: rgba(184, 228, 230, 0.445);
    width: 60vw;
    border-radius: 16px;
} 
.col p{
    font-weight: bolder;
}

.row{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);

}

.btn:hover{
    background-color: rgba(161, 226, 226, 0.445);
}

 
 input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.search-form button {
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.forecast {
    color: white;
}

.forecast-cards {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
}

.forecast-card{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 10px;
    min-width: 120px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* .col-md-8 p{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
}

.col-md-8 p{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 10px;
    min-width: 120px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
} */


@media (max-width: 600px) {
    .forecast-cards {
        flex-direction: column;
        align-items: center;
    }

    .search-form {
        flex-direction: column;
    }

    .search-form input, .search-form button {
        width: 100%;
        border-radius: 10px;
        margin: 5px 0;
    }

    .container{
    width: 0;
    }
}
